#Navbar{
  background-color: black;
}
#MenuItem-MyName{
  font-family: 'Epilogue';
  text-shadow: 1px 1px 5px green;
}
#HeaderButton{
  display: block;
  font-family: "Epilogue";
  text-shadow: 1px 1px 5px green;
  text-decoration: none;
  background-color: black;
}
#HeaderButton:hover{
  color: grey;
}